{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('js', path='./jquery.cookies.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('js', path='./check_token.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('js', path='./get_beer.js') }}" defer></script>
{% endblock %}

{% block logout %}
  <input class="btn btn-secondary" title="Logout" type="button" id="logout" value="Выйти">
{% endblock %}


{% block content %}
<div id="error_message"></div>
<div id="database-items" style="display: none">
    <div class="section-container">
        <div class="container">
            <div class="row" id="items_container">
            </div>


            <link href="{{ url_for('css', path='./pagination.css') }}" rel="stylesheet">
            <div class="center">
                <div class="pagination" id="pagination">
                    <div class="row">
                        
                    <p>
                        <a class="btn btn-primary get_beer_btn disabled" id="prev_link">Previous</a>
                    </p>
                    <p>
                        <a class="btn btn-primary get_beer_btn disabled" id="next_link">Next</a>
                    </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section-container">
        <div class="container">
            <div class="row" id="new_item">

                      <h2 class="text-center">Добавить новый элемент</h2>
            </div>


            <form role="form" style="width:100%">
                <div class="form-group row">
                    <textarea id="new_item_json" class="json_items" style="width:7000px">
    {
        Не рекомендуется этим пользоваться, особенно если есть поля генерируемые на стороне сервера,
        документ будет создан в текущей коллекции
        опишите документ здесь, например:
        "name": "FirstName",
        "last_name": "AnotherValue",
        "age": 18
    }</textarea>
                </div>


                <input class="btn btn-primary" id="save_new_item" title="Сохранить" type="button" data-id="save_new_item" value="Сохранить новый документ">
                <div id="save_new_item_error_message" style="color: red"></div>
                        <div id="save_new_item_success_messagea" style="color: green"></div>
                <div class="form-group"></div>
            </form>
        </div>
    </div>
        
</div>
    {% endblock%}


    {% block fields %}
    <div class="mt-5">
        <ul id="fields" class="list-group list-group-flush">
        </ul>
    </div>

{% endblock %}

{% block pagination %}
{% endblock %}

{% block footer %}
{% endblock %}