{% extends 'base.html' %}

{% block logout %}
  <input class="btn btn-secondary" title="Logout" type="button" id="logout" value="Выйти">
{% endblock %}


{% block content %}
<div class="section-container">
    <div class="container">
        <div class="row" id="items_container">
        </div>


        <link href="{{ url_for('css', path='./pagination.css') }}" rel="stylesheet">
        <div class="center">
            <div class="pagination" id="pagination">
                <a class="get_beer_btn disabled" id="prev_link">Previous</a>
                <a class="get_beer_btn disabled" id="next_link">Next</a>
            </div>
        </div>

    </div>
</div>
<div class="section-container">
    <div class="container">
        <div class="row" id="new_item">
        </div>


        <form role="form" style="width:100%">
            <div class="form-group row">
                <textarea id="new_item_json" class="json_items" style="width:7000px">
{
    Не рекомендуется этим пользоваться, особенно если есть поля генерируемые на стороне сервера,
    документ будет создан в текущей коллекции
    опишите документ здесь, например:
    "name": "FirstName",
    "last_name": "AnotherValue",
    "age": 18
}</textarea>
            </div>


            <input class="btn btn-primary" id="save_new_item" title="Сохранить" type="button" value="Сохранить новый документ">
            <div class="form-group"></div>
        </form>
    </div>
</div>
    
{% endblock%}


{% block fields %}
{% for db in dbs %}
<div class="mt-5">
    <ul id="fields" class="list-group list-group-flush">
    </ul>
</div>
{% endfor %}

{% endblock %}

{% block pagination %}
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ url_for('js', path='./get_beer.js') }}"></script>
{% endblock %}