{% extends 'base.html' %}

{% block logout %}
  <input class="btn btn-secondary" title="Logout" type="button" id="logout" value="Выйти">
{% endblock %}


{% block content %}
<div class="section-container">
    <div class="container">
            <h2>
                Контакты
            </h2>
            <p>
                Зайцев Артем:
                <br>
                e-mail - artz1994@mail.ru
                <br>
                telegram - <a href="https://telegram.im/@ZaitsevArtem" target="_blank">@ZaitsevArtem</a>
                <br>
                <a href="https://github.com/ArtemZaitsev1994/mongodb_admin">GitHub</a>
                 - feel free to make a PR!
            </p>

    </div>
</div>
    
{% endblock%}

{% block pagination %}
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ url_for('js', path='./get_beer.js') }}"></script>
{% endblock %}